* {
    box-sizing: border-box;
}

.timer-all {
    width: 355px;
    height: 144px;
    display: block;
    margin: 0 auto;
}

.timer-input-button {
    height: 40px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
    margin-bottom: 32px;
}

.timer {
    display: flex;
    gap: 24px;
    list-style-type: none;
    margin: 0 auto;
    align-items: flex-start;

}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    color: #2E2F42;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1.6px;
    flex-direction: column;
    align-items: center;
}

.label {
    color: #2E2F42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    flex-direction: column;
    align-items: center;
}

input {
    width: 272px;
    border-radius: 4px;
    background: #FFF;
    border: 1px solid #2E2F42;
    color: #2E2F42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 15;
    letter-spacing: 0.64px;
    padding-left: 16px;
}

input:hover {
    border-radius: 4px;
    border: 1px solid #808080;
}

input:active {
    border-radius: 4px;
    border: 3px solid #4E75FF;

}

button {
    width: 75px;
    row-gap: 20px;
    border-radius: 8px;
    background: #4E75FF;
    border: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

button:hover {
    border-radius: 8px;
    background: #6C8CFF;
}

button:disabled {
    border-radius: 8px;
    background: #CFCFCF;
    color: #989898;
}